[submodule "ckeditor"]
	path = ckeditor
	url = https://github.com/ckeditor/ckeditor4
[submodule "ckeditor_old"]
	path = ckeditor_old
	url = https://github.com/EzerIT/ckeditor-releases
[submodule "zocial"]
	path = zocial
	url = https://github.com/EzerIT/css-social-buttons
[submodule "jstree"]
	path = jstree
	url = https://github.com/EzerIT/jstree
[submodule "virtualkeyboard"]
	path = virtualkeyboard
	url = https://github.com/EzerIT/virtualkeyboard
