*#
*~
dont_git
quizzes
db/*.name
db/ETCBC4
db/nestle1904
.htaccess
myapp/config/config.php
myapp/config/database.php
myapp/config/ol.php
TAGS
myapp/third_party/*
dumpdb.sh
loaddb.sh
RGraph/big-libraries
myapp/logs/
exam
