<?xml version="1.0" encoding="utf-8"?>
<exam>
  <examname>Mabio_Test_3</examname>
  <teacher_id>2</teacher_id>
  <description>Description</description>
  <plan_start>2010-01-01 00:00:00</plan_start>
  <plan_end>2010-01-01 00:00:00</plan_end>
  <time>0</time>
  <exercise>
    <exercisename>ETCBC4/demo/gender.3et</exercisename>
    <numq>0</numq>
    <weight>1</weight>
    <order>1</order>
  </exercise>
  <exercise>
    <exercisename>ETCBC4/demo/make_suffix.3et</exercisename>
    <numq>0</numq>
    <weight>1</weight>
    <order>2</order>
  </exercise>
  <exercise>
    <exercisename>ETCBC4/demo/qal_imperfect.3et</exercisename>
    <numq>0</numq>
    <weight>1</weight>
    <order>3</order>
  </exercise>
</exam>
