<?xml version="1.0" encoding="utf-8"?>
<exam>
  <examname>SundayTest</examname>
  <teacher_id>1</teacher_id>
  <description>Description</description>
  <exercise>
    <exercisename>ETCBC4/demo/gender.3et</exercisename>
    <numq>0</numq>
    <weight>1</weight>
    <order>1</order>
  </exercise>
  <exercise>
    <exercisename>ETCBC4/demo/gender-translit.3et</exercisename>
    <numq>0</numq>
    <weight>1</weight>
    <order>2</order>
  </exercise>
</exam>
