// Emacs: -*- mode: css -*-

// Compile with
//    lessc --global-var='chinese=false' styles/ol.less
// to produce non-Chinese version.
//
// Compile with
//    lessc --global-var='chinese=true' styles/ol.less
// to produce Chinese version.


// Placing color names in variables, causes LESS to change them into their corresponding hex values.
// Thus we avoid browser problems.

@pink: pink;
@lightblue: #e0e0ff;
@textbackground: @lightblue;

.rtl { direction: rtl; }
.ltr { direction: ltr; }

html {
    background-color: white;
    font-size: if((@chinese),12pt,10pt);
    font-family: Segoe UI, Arial, sans-serif;
}

body {
    overflow: scroll; // Make sure scroll bar is always present (if not, popops may cause confusion)
}

h1 {
    font-weight: if((@chinese),normal,bold);
}

th when (@chinese) {
    font-weight: normal;
}

b when (@chinese) {
    font-weight: normal;
}

strong when (@chinese) {
    font-weight: normal;
}


.heb-default {
    font-family: "Ezra SIL Webfont";
    font-size: 120%;
}

div.hr-replacement {  // Because Bootstrap messes with <hr>
    background-color: black;
    height: 1px;
    margin: 20px 0;
}

@media screen and (max-width:991px) {
    // Place menu button on right when size is xs, sm, or md
    .divnavbar {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
    }
}


.navbar-brand {
    font-size: 20pt;
    font-family: 'Lobster', sans-serif;
    color: blue !important;
}

.navbar-text.logo {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 5px;
}
    

.textdisplay {
    padding: 0;
    vertical-align: bottom;
    .rtl & { margin-left: 0.5em; margin-right: 0; }
    .ltr & { margin-left: 0; margin-right: 0.5em; }
}


.textblock {
    display: inline;
    vertical-align: text-top;
    text-align: center;
    margin-top: 8px;
    &.inline { display: inline; }
    &.inlineblock { display: inline-block; }
}


.leftalign {
    text-align: left !important;
}

.centeralign {
    text-align: center !important;
}

.small {
    font-size: 10pt;
}

table#quiztab {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: @pink;
    th {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
    td {
        padding-left: 5px;
        padding-right: 5px;
    }
}

span.chapter {
}

span.verse {
    vertical-align: top;
    font-size: 12pt; // TODO: Should depend on user configuration
    color: #3f3fff;
    font-weight: bold;
}

.lev3, .lev2, .lev1, .lev0 {
    &.seplin {display: block;}
    text-indent: 0;
}

.lev3.showborder,
.lev2.showborder,
.lev1.showborder,
.lev0.showborder {
    &.noseplin {display: inline-block;}
    position: relative;
    margin: 15px;
    padding: 5px;
    vertical-align: middle; /* Required by Chrome */
 }

.notdummy.lev3.showborder { border: solid 2px red; }
.notdummy.lev2.showborder { border: solid 2px blue; }
.notdummy.lev1.showborder { border: solid 2px green; }

.rtl {
    .hasp { border-right-style: none !important; }
    .hass { border-left-style: none !important; }
    .cont1 { margin-left: 0; }
    .cont2, .cont2x { margin-left: 0.5em; } // .cont2x is used when word ends in maqaf
}

.ltr {
    .hasp { border-left-style: none !important; }
    .hass { border-right-style: none !important; }
    .cont1 { margin-right: 0; }
    .cont2, .cont2x { margin-right: 0.5em; } // .cont2x is used when word ends in hyphen
}

.indentation {
    font-family: courier, monospace;
}

#testwidth
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}


.cont2:after {     // Hyphens are not added in the .cont2x case
    content: "-";
}

.wordspace {
    display: inline-block; /* Allows line breaks at this point */
}

.dontshowit {
    display: none;
}

.showit {
    .wordgrammar& when not (@chinese) {
        display: block;
    }
    .wordgrammar& when (@chinese) {
        display: block;
        
        // NOTE: You must add gloss languages with Latin script as they are added to the system
        .english&,
        .danish&,
        .german&,
        .dutch&,
        .portuguese&,
        .spanish&,
        .swahili&,
        .lexeme_occurrences&,
        .frequency_rank&,
        .strongs&
        { font-size: 10pt; }
    }
    .xgrammar& { display: inline; }
    .gram& { display: inline-block; white-space: nowrap; }
}

.gram {
    direction: ltr;
    font-size: 10pt;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    background-color: @textbackground;
    top: -10px;
    text-indent: 0;
}

div.grammargroup {
    margin: 0 5px;
}

div.objectlevel {
}

div.grammarselector {
    font-size: if((@chinese),12pt,8pt);
    display: inline-block;
    margin-bottom: 10px;
}

div.grammardisplay {
    border-radius: 6px;
    margin-right: 15px;
    float: right;
    font-size: if((@chinese),10pt,8pt);
    display: none;
    position: absolute;
    right: 0;
    top: 20px; // The 'top' value is overwritten by JavaScript
    table {
        width: 100%;
        td, th {
            padding: 1px 4px;
        }
    }
}

#grammar-info-body {
    table {
        margin-left: auto; // Center the table
        margin-right: auto;
        td, th {
            padding: 1px 4px;
        }
    }
}

.like-label {
    font-weight: if((@chinese),normal,bold);
}


div#textcontainer {
    display: block;
    // Margins are set programatically
    h1 {
        text-align: center;
        margin-top: 0;
        font-size: 20pt;
    }
}

div.textcontainer-background {
    background-color: @textbackground;
}

table.grammargroup {
    font-size: 8pt;
}
.attrshow {
    font-size: 12pt;
}

table.enroll {
    td {
        padding: 4px;
    }
}

div#quizdesc {
    border: 2px blue solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

em {
    color: red;
    font-style: normal;
}

#bb {
    margin-top: 20px;
}

#buttonlist1 {
    text-align: center;
}
 
#buttonlist2 {
    text-align: left;
}

.ui-tooltip {
    font-size:9pt;
}

.tooltiphead {
    text-align: center;
    font-weight: bold;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 0.2em;
	border-top: 0;
	overflow: auto;
}

.ui-button {
    font-size: 10pt;
    font-weight: normal;
}

div#progressbar {
    display: inline-block;
    width: 200px;
    height: 10px;
}

progress {
    width: 200px;
}

p.inline {
    display: inline;
}

button#togglemql {
    display: none;
}

.mqlarea {
    display: none;
}



div.logo {
    float: right;
}

img {
    border-style: none;
}

div.centerblock {
    h1 {
        margin-top: 0;
        font-size: if((@chinese),19pt,16pt);
    }
    h2 {
        font-size: if((@chinese),17pt,14pt);
    }
}

#logincenter,#errorcenter {
    max-width: 300px;
}

#rejectcenter {
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}



table.padded {
    border-spacing: 5px;
    border-collapse: separate;
}

// For font settings display
table.striped {
    tr:nth-child(odd) {background: darken(#feeebd,5%);}
    tr:nth-child(even) {background: lighten(#feeebd,5%);}
}

table.fontattrib {
    th, td {
        padding-left: 2px;
        padding-right: 2px;
    }
    th.settingsfor, td.settingsfor {
        text-align: left;
        width: 25%;
    }
}

table.fontfamily {
    font-size: 12pt;
    margin-left: auto;
    margin-right:auto;
}

div.fontsetting {
    font-size: 12pt;
    h1 {
        font-size: 16pt;
    }
    span.styleexplanation {
        font-size: small;
    }
    // Fix jquery-ui customization to fit current Bootstrap theme:
    .ui-widget-content {
        background: white;
        border-color: #3c3c3c;
        font-size: 14px;
    }
    .ui-spinner-button {
        background: #eeeeee;
        border-color: #3c3c3c;
    }
}

div.buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

table.type1 {
    border-collapse: separate;
    th {
        padding: 0 6px;
        text-align: center;
        font-weight: normal;
        background-color: #000077;
        color: white;
    }
     
    td {
        padding: 0 6px;
        text-align: center;
        background-color: #c0c0ff;
    }
}

table.type2 {
    background-color: #f0f8ff; // AliceBlue

    // Override Bootstrap:
    &.table-striped {
        > tbody > tr:nth-of-type(odd) {
            background-color: darken(#f0f8ff, 5%);
        }
    }
}

table.type3 {
    background-color: #f5f5f5; // WhiteSmoke

    // Override Bootstrap:
    &.table-striped {
        > tbody > tr:nth-of-type(odd) {
            background-color: darken(#f5f5f5, 5%);
        }
    }
}

table.form {
    border-spacing: 0;

    td {
        background-color: #ffcc00;
        vertical-align: center;
        padding: 5px;
        border: white solid 1px;
        &.norb {
            border-right-width: 0;
        }
        &.nolb {
            border-left-width: 0;
        }
    }

    input {
        font-size: 10pt;
        width: 200px;
        margin-top: auto;
        margin-bottom: auto;

        &.narrow {
            width: auto;
        }
    }
}

div.statistics {
    h1 {
        font-size: 16pt;
    }
    table {
        th, td {
            text-align: center;
        }
    }
}

div.student-legend {
    max-height: 400px;
    overflow-y: auto;
}


div#virtualkbid {
    float: right;
}

div#virtualKeyboard {
    box-sizing: content-box; // Overrides Bootstrap
}


table.main_menu {
    background-color: yellow;
    border-collapse: collapse;
    font-size: 11pt;
    color: black;
    font-family: Segoe UI, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

    td, th {
        font-weight: normal;
        border-right: solid 2px black;
        width: 140px;
        padding-bottom: 5px;
    }

    td {
        text-align: left;
        padding-left: 20px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    th {
        font-style: italic;
        text-align: left;
        padding-left: 2px;
    }
    
    td:last-child, th:last-child {
        border-right: none;
    }
}

span.disabled {
    color: #b0b0b0;
}

table.list-of {
    display: inline-table;
    border: solid black 1px;
    vertical-align: middle;
    margin-bottom: 5px;
}


.jstree {
    font-size: 10pt;
}

#tab_sentences, #tab_sentence_units, #tab_features {
    font-size: 10pt;
}

td#clearbuttoncell {
    vertical-align: top;
}

table.featuretable {
    text-align: center;

    th, td {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

table.iconlist td {
    padding-right: 30px;
    text-align: right;
}

table.autowidth {
    width: auto !important;
}

.bolicon {
    font-weight: bold;
}

.bolicon-logos { &:before { content: "\24c1"; } }  // L in circle

// Bootstrap overloads for Chinese

.panel-title when (@chinese) {
    font-size: 19px;
}

label {
    font-weight: if((@chinese),normal,bold);
}

.badge when (@chinese) {
    font-weight: normal;
    font-size: 100%;
}

.badge when not (@chinese) {
    font-weight: normal;
}

.btn when (@chinese) {
    font-size: 17px;
}

// Jquery UI overloads for Chinese

.ui-accordion-header when (@chinese) {
   font-weight: normal !important;
}

.ui-state-active when (@chinese) {
   font-weight: normal !important;
}

.ui-state-default when (@chinese) {
   font-weight: normal !important;
}
    
