// Emacs: -*- mode: css -*-

// Placing color names in variables, causes LESS to change them into their corresponding hex values.
// Thus we avoid browser problems.

@pink: pink;
@chocolate: chocolate;
@lightblue: #e0e0ff;
@textbackground: @lightblue;
@lightgray: #ececec;
@darkgray: #404040;
@beige: #f3d673;
@mediumgray: #c0c0c0;

@leftblockwidth: 250px;
@rightblockwidth: 200px;

.rtl { direction: rtl; }
.ltr { direction: ltr; }

body {
    background-color: white;
    font-size: 10pt;
    font-family: Segoe UI, Arial, sans-serif;
    overflow: scroll; // Make sure scroll bar is always present (if not, popops may cause confusion)
}



.textdisplay {
    padding: 0;
    vertical-align: bottom;
    .rtl & { margin-left: 0.5em; margin-right: 0; }
    .ltr & { margin-left: 0; margin-right: 0.5em; }
}


.textblock {
    display: inline;
    vertical-align: text-top;
    text-align: center;
    margin-top: 8px;
    &.inline { display: inline; }
    &.inlineblock { display: inline-block; }
}


.leftalign {
    text-align: left !important;
}

.centeralign {
    text-align: center !important;
}

.small {
    font-size: 10pt;
}

table#quiztab {
    text-align: center;
    background-color: @pink;

}

span.chapter {
}

span.verse {
    vertical-align: top;
    font-size: 12pt; // TODO: Should depend on user configuration
}

.nolev3, .nolev2, .nolev1, .nolev0 {
    &.seplin {display: block;}
}

.lev3, .lev2, .lev1, .lev0 {
    position: relative;
    &.noseplin {display: inline-block;}
    &.seplin {display: block;}
    margin: 15px;
    padding: 5px;
    vertical-align: middle; /* Required by Chrome */
}

.notdummy.lev3 { border: solid 2px red; }
.notdummy.lev2 { border: solid 2px blue; }
.notdummy.lev1 { border: solid 2px green; }

.rtl {
    .hasp { border-right-style: none; }
    .hass { border-left-style: none; }
    .cont1 { margin-left: 0; }
    .cont2, .cont2x { margin-left: 0.5em; } // .cont2x is used when word ends in maqaf
}

.ltr {
    .hasp { border-left-style: none; }
    .hass { border-right-style: none; }
    .cont1 { margin-right: 0; }
    .cont2, .cont2x { margin-right: 0.5em; } // .cont2x is used when word ends in hyphen
}

.cont2:after {     // Hyphens are not added in the .cont2x case
    content: "-";
}

.wordspace {
    display: inline-block; /* Allows line breaks at this point */
}

.dontshowit {
    display: none;
}

.showit {
    .wordgrammar& { display: block; }
    .xgrammar& { display: inline; }
    .gram& { display: inline-block; }
}

.gram {
    direction: ltr;
    font-size: 10pt;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    padding-left: 2px;
    padding-right: 2px;
    background-color: @textbackground;
    top: -10px;
}

div.grammargroup {
    margin: 0 5px;
}

div.objectlevel {
}

div.grammarselector {
    float: left;
    font-size: 8pt;
}

div.grammardisplay {
    width: 300px;
    float: right;
    font-size: 8pt;
    display: none;
    position: absolute;
    right: 0;
    top: 20px; // The 'top' value is overwritten by JavaScript
}

div#textcontainer {
    background-color: @textbackground;
    display: block;
    // Margins are set programatically
    h1 {
        text-align: center;
    }
}

table.grammargroup {
    font-size: 8pt;
}
.attrshow {
    font-size: 12pt;
}

div#quizdesc {
    border: 2px blue solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

em {
    color: red;
    font-style: normal;
}

#bb {
    margin-top: 20px;
}

#buttonlist1 {
    text-align: center;
}
 
#buttonlist2 {
    text-align: left;
}

.ui-tooltip {
    font-size:9pt;
}

.tooltiphead {
    text-align: center;
    font-weight: bold;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 0.2em;
	border-top: 0;
	overflow: auto;
}

.ui-button {
    font-size: 10pt;
    font-weight: normal;
}

div#progressbar {
    display: inline-block;
    width: 200px;
    height: 10px;
}

progress {
    width: 200px;
}

p.inline {
    display: inline;
}

button#togglemql {
    display: none;
}

.mqlarea {
    display: none;
}



div.logo {
    float: right;
}

img {
    border-style: none;
}

div.topbar {
    background-color: @lightblue;
    color: blue;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    font-family: Segoe UI, Arial, sans-serif;
    margin-right: 310px;
    line-height: 43px;
}

div.contentouter {
    background-color: @chocolate;
    padding: 10px;
}

div.contentinner {
    background-color: white;
}


div.leftblock {
    vertical-align: top;
    width: @leftblockwidth;
    display: table-cell;
    background-color: @lightgray;
    padding-left: 2px;
    padding-right: 2px;
    h1 {
        font-size: 14pt;
    }
}

div.rightblock {
    vertical-align: top;
    width: @rightblockwidth;
    display: table-cell;
    background-color: @lightgray;
    padding-left: 2px;
    padding-right: 2px;
    h1 {
        font-size: 14pt;
    }
}

div.centerblock {
    vertical-align: top;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12pt;
    display: table-cell;
}

div.innerinner {
    padding: 10px;
    font-size: 12pt;
}

div.error, div.warning {
    margin: 5px;
    padding: 5px;
    border: solid 2px red;
    h1 {
        text-align: left !important;
    }
}

p.error {
    background-color: @pink;
}


#logincenter {
    width: 700px;
    font-size: 10pt;

    h1 {
        text-align: center;
    }

    #loginbox {
        border: solid black 1px;
        background-color: #fee78d;
        width: 270px;
        padding: 5px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        input.logintext {
            width: 190px;
        }
    }

    #googlebox {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}

// For font settings display
table.striped {
    tr:nth-child(odd) {background: darken(#feeebd,5%);}
    tr:nth-child(even) {background: lighten(#feeebd,5%);}
}

table.fontattrib {
    th.settingsfor, td.settingsfor {
        text-align: left;
        width: 25%;
    }
}

table.fontfamily {
    font-size: 12pt;
    margin-left: auto;
    margin-right:auto;
}

div.fontsetting {
    font-size: 12pt;
    h1 {
        font-size: 16pt;
    }
    span.styleexplanation {
        font-size: small;
    }
}

div.buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}

table.type1,table.type2 {
    border-collapse: separate;
    th {
        padding: 0 6px;
        text-align: center;
        font-weight: normal;
    }
     
    td {
        padding: 0 6px;
        text-align: center;
    }
}

table.type1 {
    th {
        background-color: #000077;
        color: white;
    }
     
    td {
        background-color: #c0c0ff;
    }
}

table.form {
    td {
        background-color: #ffcc00;
        vertical-align: center;
        padding: 5px;
    }

    input {
        font-size: 10pt;
        width: 200px;
        margin-top: auto;
        margin-bottom: auto;

        &.narrow {
            width: auto;
        }
    }
}

div.statistics {
    h1 {
        font-size: 16pt;
    }
    table {
        td {
            text-align: center;
        }
    }
}

div#virtualkbid {
    float: right;
}


table.main_menu {
    background-color: yellow;
    border-collapse: collapse;
    font-size: 11pt;
    color: black;
    font-family: Segoe UI, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;

    td, th {
        font-weight: normal;
        border-right: solid 2px black;
        width: 140px;
        padding-bottom: 5px;
    }

    td {
        text-align: left;
        padding-left: 20px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }

    th {
        font-style: italic;
        text-align: left;
        padding-left: 2px;
    }
    
    td:last-child, th:last-child {
        border-right: none;
    }
}

span.disabled {
    color: #b0b0b0;
}

.jstree {
    font-size: 10pt;
}

#tab_sentences, #tab_sentence_units, #tab_features {
    font-size: 10pt;
}

td#clearbuttoncell {
    vertical-align: top;
}

table.featuretable {
    text-align: center;

    th, td {
        padding-left: 10px;
        padding-right: 10px;
    }
}


// For menu bar:
// Code based on http://css-tricks.com/simple-jquery-dropdowns

ul.dropdown {
    padding: 0;
    a {
        text-decoration: none;
    }

    // Level 1
    li {
        display: inline-block; 
        background: @beige;
        margin-right: 5px;
        z-index: 1;

        &:hover {
            background: @chocolate;
            position: relative;
        }

        a {
            color: black; 
            display: block; 
            padding: 4px;
        }
    }


    // Level 2
    ul {
        padding: 0; width: 150px; 
        visibility: hidden; 
        position: absolute; 
        top: 100%; 
        left: 0;

        li {
            width: 150px;
            background: @beige;
            border-bottom: 1px solid @mediumgray;

            &:hover {
                background-color: @chocolate;
            }

            a { 
                padding-left: 10px;
                padding-right: 0;
                width: 100%; 
                display: inline-block; 
                
                &:hover {
                    background-color: transparent;
                }
            } 
        }
    }

    // Level 3
    ul ul {
        left: 100%;
        top: 0;
    }

    li:hover > ul {
        visibility: visible;
    }
}
