.rtl {
  direction: rtl;
  text-align: right;
}
.ltr {
  direction: ltr !important;
}
html,
body {
  background-color: #f2f2f2;
  font-family: 'titillium', 'opensans', Arial, sans-serif;
  font-size: 14pt;
  font-weight: normal;
  color: #002A3A;
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
body {
  overflow: scroll;
}
p {
  font-size: 12pt;
}
h1 {
  font-weight: normal;
}
th {
  font-weight: normal;
}
b {
  font-weight: normal;
}
strong {
  font-weight: normal;
}
cite {
  font-style: normal;
}
cite em {
  font-style: italic;
}
.navbar {
  border-bottom: solid 1px #adadad;
  margin-bottom: 0 !important;
}
.nav-tabs {
  border: 0px;
}
.container-fluid {
  padding: 0;
  background-color: #f2f2f2;
  flex: 1;
  margin: 0;
}
.row {
  padding: 0;
  border: 0;
  margin: 0;
}
.row#landing-row {
  background-color: white;
}
#landing-row #landingpanel {
  padding: 0 !important;
}
#landing-row #landingpanel #landingtext {
  position: absolute;
  color: white;
  left: 7%;
  right: 17%;
  top: 5%;
}
#landing-row #landingpanel #landingtext h1 {
  font-size: 3vw;
  color: white;
  padding-bottom: 2%;
  font-weight: normal;
  text-transform: uppercase;
}
#landing-row #landingpanel #landingtext h2 {
  font-size: 22pt;
}
#landing-row #landingpanel #landingtext p {
  font-size: 1.25vw !important;
}
#landing-row #loginpanel {
  padding-top: 50px;
  padding-bottom: 100px;
}
#landing-row #loginpanel h1 {
  padding: 20px;
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: normal;
}
#landing-row #loginpanel form {
  padding-left: 20px;
}
.sidepanel {
  padding: 1vw;
}
.quizpanel {
  padding: 1vw;
}
#centerpanel {
  padding: 1vw;
}
#centerpanel .nav-tabs {
  border: 0px;
}
.centerblock {
  margin-top: 10px;
}
div.dropdown-menu {
  background-color: white;
  border: solid 1px #adadad;
  border-radius: 0;
}
div.dropdown-menu .dropdown-item {
  color: #43B02A;
  font-size: 11pt;
}
div.dropdown-menu .dropdown-item:hover {
  font-weight: bold;
  background-color: #f2f2f2;
}
div.dropdown-menu .dropdown-item.active {
  font-weight: bold;
  background-color: #43B02A;
  color: white;
}
a.nav-link {
  font-size: 11pt;
  text-transform: uppercase;
  color: #43B02A !important;
}
a.nav-link:hover {
  font-weight: bold;
}
.heb-default {
  font-family: "Ezra SIL Webfont" !important;
  font-size: 120% !important;
}
.greek-default {
  font-family: "Gentium Plus Webfont" !important;
  font-size: 120% !important;
}
.latin-default {
  font-family: "titillium" !important;
  font-size: 120% !important;
}
div.hr-replacement {
  background-color: #adadad;
  height: 1px;
  margin: 20px 0;
}
@media screen and (max-width: 991px) {
  .divnavbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}
.textdisplay {
  margin-left: 0px;
  margin-right: 0px;
  vertical-align: bottom;
  text-align: center;
}
.rtl .textdisplay {
  margin-left: 0.5em;
  margin-right: 0;
}
.ltr .textdisplay {
  margin-left: 0;
  margin-right: 0.5em;
}
.textblock {
  display: inline;
  vertical-align: text-top;
  text-align: center;
  margin-top: 8px;
}
.textblock.inline {
  display: inline;
}
.textblock.inlineblock {
  display: inline-block;
}
.leftalign {
  text-align: left !important;
}
.centeralign {
  text-align: center !important;
}
span.verse {
  vertical-align: top;
  font-size: 12pt;
  color: #002A3A;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
.lev3,
.lev2,
.lev1,
.lev0 {
  text-indent: 0;
}
.lev3.seplin,
.lev2.seplin,
.lev1.seplin,
.lev0.seplin {
  display: block;
}
.lev3.showborder,
.lev2.showborder,
.lev1.showborder,
.lev0.showborder {
  position: relative;
  margin: 15px;
  padding-top: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  /* Required by Chrome */
}
.lev3.showborder.noseplin,
.lev2.showborder.noseplin,
.lev1.showborder.noseplin,
.lev0.showborder.noseplin {
  display: inline-block;
}
.notdummy.lev3.showborder {
  border: solid 2px #006187;
}
.notdummy.lev2.showborder {
  border: solid 2px #C35CF4;
}
.notdummy.lev1.showborder {
  border: solid 2px #43B02A;
}
.rtl .hasp {
  border-right-style: none !important;
}
.rtl .hass {
  border-left-style: none !important;
}
.rtl .cont1 {
  margin-left: 0;
}
.rtl .cont2,
.rtl .cont2x {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.ltr .hasp {
  border-left-style: none !important;
}
.ltr .hass {
  border-right-style: none !important;
}
.ltr .cont1 {
  margin-right: 0;
}
.ltr .cont2,
.ltr .cont2x {
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.indentation {
  font-family: courier, monospace;
}
#testwidth {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
.cont2:after {
  content: "-";
}
.wordspace {
  display: inline-block;
  /* Allows line breaks at this point */
}
.dontshowit {
  display: none;
}
.wordgrammar.showit {
  display: block;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: solid 1px #f2f2f2;
}
.wordgrammar.showit {
  font-size: 11pt;
}
.wordgrammar.showit.tenpoint {
  font-weight: 600;
}
.wordgrammar.showit.hebrew {
  text-align: center;
}
.wordgrammar.showit.hebrew_translit {
  text-align: center !important;
  font-size: 1.3em;
}
.wordgrammar.showit.greek {
  text-align: center;
}
.xgrammar.showit {
  display: inline;
}
.gram.showit {
  display: inline-block;
  white-space: nowrap;
}
.gram {
  border: solid 1px #43B02A;
  border-radius: 1px;
  direction: ltr;
  font-size: 10pt;
  margin-left: 3px;
  margin-right: 0px;
  position: absolute;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  top: -10px;
  text-indent: 0;
}
div.col-lg-6.col-md-8 {
  padding-left: 8px;
  padding-right: 8px;
}
div.grammargroup {
  margin: 0 5px;
}
div.grammarborder {
  border: solid 1px #adadad;
}
div#gramtabs {
  border: solid 1em white;
}
div#myview {
  background: #f2f2f2;
  border: 0;
  border-radius: 0;
  padding: 0;
}
a.myview {
  height: 80px;
  width: 80px;
  background-color: white;
}
a.gramtabs,
a.grammargroup {
  width: auto;
  background: white url(../images/dadel/expand_more_24px.png) no-repeat;
  background-position: right 5px center;
}
div#grammargroup {
  background: transparent;
  border: 0;
  border-radius: 0;
}
.ui-tabs .ui-tabs-nav {
  border: none;
  font-family: 'titillium';
  padding: 0;
  margin: 0;
}
.ui-tabs .ui-widget-header {
  background: transparent;
  border: none;
  border-radius: 0;
}
.ui-icon {
  background-color: #f2f2f2;
}
#myview > .ui-tabs-nav {
  float: right;
  border-left: none;
}
#myview > #tabs-background {
  height: 79px;
  border: 0;
}
#myview > #tabs-background div.selectbutton {
  font-family: 'titillium';
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  color: #002A3A;
  padding-top: 20px;
  padding-bottom: auto;
  padding-left: 20px;
}
.ui-tabs .ui-tabs-nav .ui-state-default {
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-active {
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-active #myview {
  border-bottom: 0px !important;
  margin-right: 0px;
}
.ui-tabs .ui-tabs-nav .ui-state-default a {
  border: solid 1px #adadad;
  border-radius: 0;
}
.ui-tabs .ui-tabs-nav .ui-state-default a h2,
.ui-tabs .ui-tabs-nav .ui-state-default a h3 {
  color: #43B02A;
  margin: 0;
}
.ui-tabs .ui-tabs-nav .ui-state-default a h2 {
  font-weight: 500;
  font-size: 11pt;
  text-align: center;
  padding-top: 43px;
  background: white url(../images/dadel/remove_red_eye_24px_rounded.svg) no-repeat;
  background-position: top 10px center;
  background-size: 30px;
  margin-bottom: -1px;
}
.ui-tabs .ui-tabs-nav .ui-state-default a h3 {
  font-weight: 600;
  font-size: 9pt;
  text-transform: uppercase;
  padding-right: 10px;
}
.ui-tabs .ui-tabs-nav .ui-state-active a h2,
.ui-tabs .ui-tabs-nav .ui-state-active a h3 {
  color: #43B02A;
  margin: 0;
}
.ui-tabs .ui-tabs-nav .ui-state-active a h2 {
  font-weight: 500;
  font-size: 11pt;
  text-align: center;
  padding-top: 43px;
  background: white url(../images/dadel/close.png) no-repeat;
  background-position: top 13px center;
  background-size: 25px;
  margin-bottom: -1px;
}
.ui-tabs .ui-tabs-nav .ui-state-active a h3 {
  font-weight: 600;
  font-size: 9pt;
  text-transform: uppercase;
  color: #002A3A;
  padding-right: 10px;
}
div#grammarbuttongroup {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em !important;
}
div.selectbutton {
  margin: 0 !important;
  white-space: normal;
}
div.selectbutton label {
  font-family: 'titillium';
  font-size: 10pt;
  font-weight: 600;
  color: #727272;
  border: solid 1px #adadad;
  background-color: white;
  margin-left: 7px;
  height: 27px;
  padding-top: 0.2em;
  padding-bottom: 1.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
div.selectbutton label:hover {
  border-color: #002A3A;
  background-color: #e5e5e5;
  color: #002A3A;
}
div.selectbutton label.disabled {
  opacity: 0.45;
}
div.color-limit {
  font-family: 'titillium';
  font-size: 10pt;
  font-weight: 600;
  color: #727272;
  padding-left: 1em;
}
span.color-limit-prompt {
  padding-right: 0.5em;
}
.shortcut {
  display: block;
  font-size: 8pt;
  background: white;
  width: 1em;
  text-align: center;
  position: relative;
  border: solid 1px;
  line-height: 10px;
  direction: ltr;
}
.shortcut.multichoice {
  right: 1.3em;
  bottom: 40px;
}
.shortcut.keybutton {
  right: 0.5em;
  bottom: 55px;
}
.shortcut.multioption {
  right: 1.3em;
  bottom: 30px;
}
.colorized {
  color: blue;
}
.hebrew .shortcut.multichoice {
  right: -1.3em;
}
.hebrew .shortcut.keybutton {
  right: -0.5em;
}
div.selectbutton.multiple_choice label {
  font-size: 14pt;
  font-weight: normal;
  height: 45px;
}
div.selectbutton input[type="checkbox"],
div.selectbutton input[type="radio"],
div.selectbutton input[type="checkbox"]:focus,
div.selectbutton input[type="radio"]:focus {
  opacity: 0;
  height: 0px;
  width: 0px;
}
div.selectbutton input[type="checkbox"]:checked {
  width: 0px;
}
div.selectbutton input[type="checkbox"]:checked + label {
  border-color: #002A3A;
  background-color: #b3b3b3;
  color: #002A3A;
}
div.selectbutton input[type="radio"]:checked {
  width: 0px;
}
div.selectbutton input[type="radio"]:checked + label {
  border-color: #002A3A;
  background-color: #b3b3b3;
  color: #002A3A;
}
div#textinput {
  display: block;
  text-align: center;
}
div.grammardisplay {
  margin-right: 15px;
  float: right;
  font-family: 'titillium';
  font-size: 11pt;
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
}
div.grammardisplay.ui-widget-content {
  background: white;
  border: solid 1px #adadad;
  padding: 10px;
}
div.grammardisplay table {
  width: 100%;
}
div.grammardisplay table td,
div.grammardisplay table th {
  padding: 1px 4px;
}
#grammar-info-body table {
  margin-left: auto;
  margin-right: auto;
}
#grammar-info-body table td,
#grammar-info-body table th {
  padding: 1px 4px;
}
.like-label {
  font-weight: normal;
}
div#textcontainer {
  display: block;
  padding: 0px;
}
div#textcontainer h1 {
  text-align: center;
  margin-top: 0;
  font-size: 20pt;
}
div.textcontainer-background {
  background-color: white;
}
table.grammargroup {
  font-size: 8pt;
}
.attrshow {
  font-size: 12pt;
}
table.enroll td {
  padding: 4px;
}
div#greyspace {
  background-color: #f2f2f2;
  height: 15px;
}
div#quizdesc em {
  font-style: italic;
  color: #002A3A;
}
#cke_1_top,
#cke_1_bottom {
  background-color: white;
  border-top-color: white;
  border-bottom-color: #adadad;
}
#cke_txtdesc {
  border-color: #adadad;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
  border: 1px solid #adadad;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders h1 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16pt;
  font-style: bold;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14pt;
  font-style: bold;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders .footnotes h2 {
  margin-top: 20px;
}
.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders iframe {
  padding: 15px;
}
div#textarea {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  border-left: solid 1px #adadad;
  border-right: solid 1px #adadad;
  border-bottom: solid 1px #adadad;
  border-top: 0;
}
em {
  color: #C35CF4;
  font-style: normal;
}
#bb {
  margin-top: 20px;
}
.buttonlist1 {
  text-align: center;
}
#buttonlist2 {
  border: solid 1px #adadad;
  padding: 10px;
  text-align: center;
}
.ui-tooltip {
  font-size: 9pt;
}
.tooltiphead {
  text-align: center;
  font-weight: bold;
}
p#progresstext {
  text-align: center;
}
div#progressbarfield {
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  height: 40px;
  text-align: center;
}
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 90%;
  height: 21px;
}
progress::-webkit-progress-bar {
  background-color: white;
  border: solid 1px #adadad;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, #002A3A, #43B02A);
  border-radius: 20px;
}
progress::-moz-progress-bar {
  background-color: white;
  border: solid 1px #adadad;
  border-radius: 20px;
  background-image: -moz-linear-gradient(-45deg, #002A3A, #43B02A);
}
div#quizcontainer {
  display: flex;
  border: solid 1px #adadad;
}
div.quizcard {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
}
div.quizcard table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
div.quizcard table img {
  max-height: 20px;
}
div.quizcard table th {
  border-bottom: solid 1px #e5e5e5;
  border-top: solid 1px #e5e5e5;
  font-size: 12pt;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 3px;
}
div.quizcard table td {
  font-size: 12pt;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 3px;
}
div.quizcard table td input[type=text] {
  width: 80%;
  margin-left: 13px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
div.quizcard table td.qbox {
  display: flex;
  white-space: normal;
  padding-top: 4px;
  padding-bottom: 4px;
}
div.quizcard table td.qbox img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
div.quizcard table td.hebrew,
div.quizcard table td.greek,
div.quizcard table td.hebrew_translit {
  display: block;
  font-size: 18pt;
  text-align: center;
}
div.quizitem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 0px;
  padding-right: 1vw;
}
span.inputshow {
  display: block;
  width: 80%;
  margin-left: 13px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: solid 1px;
}
span.inputshow.hebrew {
  font-family: Ezra SIL Webfont, Times New Roman, Serif !important;
  font-size: 18pt !important;
  height: 36pt;
}
span.inputshow.hebrew_translit {
  font-size: 16pt !important;
  height: 32pt;
}
span.inputshow.greek {
  font-size: 16pt !important;
  height: 32pt;
}
.letterinput {
  padding: 13px;
  padding-right: 3px;
  text-align: center;
}
.letterinput .delbutton,
.letterinput .inputbutton {
  color: #727272;
  border: solid 1px #adadad;
  background-color: white;
  margin-left: 7px;
  margin-bottom: 0.5rem;
  float: left;
  width: 50px;
  text-align: center;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
}
.letterinput .delbutton:hover,
.letterinput .inputbutton:hover {
  border-color: #002A3A;
  background-color: #e5e5e5;
  color: #002A3A;
}
.letterinput .delbutton {
  font-family: 'titillium';
  font-weight: 600;
}
/* Slideshow container */
#quizcontainer {
  max-width: 100%;
  position: relative;
  margin: auto;
  /* Hide the quizcard by default */
  /* Next & previous buttons */
}
#quizcontainer .quizcard {
  display: none;
}
#quizcontainer .prev-next-btn {
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
  /* Fading animation */
}
#quizcontainer .prev-next-btn.prev,
#quizcontainer .prev-next-btn.next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: auto;
  height: auto;
  padding: 8px;
  color: #002A3A;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}
#quizcontainer .prev-next-btn.next {
  right: 0;
}
#quizcontainer .prev-next-btn.prev:hover,
#quizcontainer .prev-next-btn.next:hover {
  background-color: #adadad;
  text-decoration: none;
}
#quizcontainer .prev-next-btn.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 100%;
  text-align: center;
}
#quizcontainer .prev-next-btn.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
p.inline {
  display: inline;
}
button#togglemql {
  display: none;
}
.mqlarea {
  display: none;
}
div.logo {
  float: right;
}
img {
  border-style: none;
}
#logincenter {
  margin-top: 20px;
}
#errorcenter {
  margin-top: 20px;
  margin-bottom: 25px;
  max-width: 300px;
}
#logincenterextra {
  margin-top: 0;
  max-width: 300px;
}
#rejectcenter {
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
}
table.padded {
  border-spacing: 5px;
  border-collapse: separate;
}
table.striped tr:nth-child(odd) {
  background: #fee8a4;
}
table.striped tr:nth-child(even) {
  background: #fef4d6;
}
table.fontattrib th,
table.fontattrib td {
  padding-left: 2px;
  padding-right: 2px;
}
table.fontattrib th.settingsfor,
table.fontattrib td.settingsfor {
  text-align: left;
  width: 25%;
}
@media screen and (max-width: 767px) {
  table.fontsamples {
    min-width: 700px;
  }
}
table.fontfamily {
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
}
div.fontsetting {
  font-size: 12pt;
}
div.fontsetting h1 {
  margin-left: 7px;
  font-size: 16pt;
}
div.fontsetting span.styleexplanation {
  font-size: small;
}
div.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}
div.tab-content {
  border: solid 1px #adadad;
  background-color: white;
  padding: 13px;
}
table.type1 {
  border-collapse: separate;
}
table.type1 th {
  padding: 0 6px;
  text-align: center;
  font-weight: normal;
  background-color: #000077;
  color: white;
}
table.type1 td {
  padding: 0 6px;
  text-align: center;
  background-color: #c0c0ff;
}
table.type2 {
  background-color: #f2f2f2;
}
table.type2.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e5e5e5;
}
table.type3 {
  background-color: #f5f5f5;
}
table.type3.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #e8e8e8;
}
table.searchbar {
  border-spacing: 0;
  background-color: white;
  border: solid 1px #adadad;
  margin: 0px;
  width: 100%;
}
table.searchbar td {
  vertical-align: center;
  padding: 15px;
  padding-left: 10px;
}
table.searchbar td.norb {
  border-right-width: 10px;
}
table.searchbar td.nolb {
  border-left-width: 10px;
}
table.searchbar input {
  font-size: 10pt;
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
}
table.searchbar input.narrow {
  width: auto;
}
table.form {
  border-spacing: 0;
  background-color: white;
  border: solid 10px #adadad;
  margin: 10px;
}
table.form td {
  vertical-align: center;
  padding: 7px;
  padding-left: 13px;
}
table.form td.norb {
  border-right-width: 0;
}
table.form td.nolb {
  border-left-width: 0;
}
table.form input {
  font-size: 10pt;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}
table.form input.narrow {
  width: auto;
}
div.statistics h1 {
  font-size: 16pt;
}
div.statistics table th,
div.statistics table td {
  text-align: center;
}
div.student-legend {
  max-height: 400px;
  overflow-y: auto;
}
div#virtualKeyboard {
  box-sizing: content-box;
  position: sticky;
  left: 5px;
}
.dropdown-menu {
  background-color: #e8e8e8;
}
span.disabled {
  color: #b0b0b0;
}
table.list-of {
  display: inline-table;
  border: solid black 1px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.jstree {
  font-size: 10pt;
}
#tab_sentences,
#tab_sentence_units,
#tab_features {
  font-size: 10pt;
}
td#clearbuttoncell {
  vertical-align: top;
}
table.featuretable {
  text-align: center;
}
table.featuretable th,
table.featuretable td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
table.iconlist td {
  padding-right: 30px;
  text-align: right;
}
table.autowidth {
  width: auto !important;
}
table.embedded tr {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}
table.embedded tr td {
  margin: 0;
  padding: 0 2pt;
}
.bolicon {
  font-weight: bold;
}
.bolicon-logos:before {
  content: "\24c1";
}
.panel-title {
  font-size: 19px;
}
label {
  font-weight: normal;
}
.badge {
  font-weight: normal;
  font-size: 100%;
}
.googlelogin {
  border: 0px solid #4285f4;
  background: #4285f4;
  margin: 0;
  color: white;
  display: inline-block;
  font-family: "Roboto", serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.googlelogin span {
  padding: 0 8px;
}
.googlelogin:hover {
  text-decoration: none;
  color: white;
}
.ui-accordion-header {
  font-weight: normal !important;
}
.ui-state-active {
  font-weight: normal !important;
}
.ui-state-default {
  font-weight: normal !important;
}
.col-lg-3.col-md-4 {
  margin-top: 0px !important;
}
.bg-primary {
  background-color: #002A3A !important;
}
.card {
  border: solid 1px rgba(0, 42, 58, 0.2);
  border-radius: 0px;
}
.card-header:first-child {
  border-radius: 0px !important;
  border: #002A3A 1px;
  margin: 0px;
}
.gloss-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.gloss-wrapitem {
  flex-basis: 7.5em;
  margin: 1px;
}
.btn {
  font-size: 17px;
}
.btn {
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'titillium';
}
.btn.btn-primary {
  border-radius: 20px;
  font-weight: bold;
  border: solid 2px #43B02A;
  background-color: #43B02A;
  color: white;
}
.btn.btn-primary:hover {
  background-color: #389323 !important;
  border: solid 2px #389323 !important;
}
.btn.btn-primary:active:focus {
  background-color: #2d761c !important;
  color: white !important;
  border: solid 2px #2d761c !important;
}
.btn.btn-outline-dark {
  border-radius: 20px;
  border: solid 2px #43B02A;
  background-color: white;
  color: #43B02A;
  font-weight: bold;
}
.btn.btn-outline-dark:hover {
  border: solid 2px #338720 !important;
  color: #338720 !important;
  border-radius: 20px;
}
.btn.btn-outline-dark:active:focus {
  background-color: #43B02A !important;
  color: white !important;
  border: solid 2px #43B02A !important;
  border-radius: 20px;
}
.btn.disabled,
.btn:disabled {
  opacity: 0.45;
}
.btn.btn-gloss-selector {
  margin: 0;
  border: solid 2px #43B02A;
  color: #43B02A;
  background-color: white;
  padding-left: 6px;
  padding-right: 6px;
}
.btn.btn-gloss-selector-active {
  margin: 0;
  border: solid 2px #43B02A;
  color: white;
  background-color: #43B02A;
}
.btn.btn-quiz {
  border: solid 1px #43B02A;
  border-radius: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: #43B02A;
  display: inline-block;
  font-weight: bold;
  justify-content: center;
}
.btn.btn-quiz:hover {
  border: solid 1px #338720 !important;
  color: #338720 !important;
}
.btn.btn-quiz:active:focus {
  background-color: #43B02A !important;
  color: white !important;
  border: solid 1px #43B02A !important;
}
.btn.btn-clear {
  border-radius: 20px;
  border: solid 1px #43B02A;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 0.8em;
  margin-bottom: -0.2em;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  color: #43B02A;
  display: flex;
  font-weight: bold;
  font-size: 10pt;
  justify-content: center;
}
.btn.btn-clear:hover {
  border: solid 1px #338720 !important;
  border-radius: 20px;
  color: #338720 !important;
}
.btn.btn-clear:active:focus {
  background-color: #43B02A !important;
  color: white !important;
  border: solid 1px #43B02A !important;
  border-radius: 20px;
}
.bg-light {
  background-color: white !important;
}
.page-item.active .page-link {
  background-color: #43B02A;
  border: solid 1px #43B02A;
  border-radius: 0;
  color: white;
}
div.quizeditor {
  background-color: #f2f2f2;
}
div.quizeditor ul {
  margin-bottom: -1px !important;
}
div.quizeditor ul li.ui-state-default a {
  margin-right: -1px !important;
  color: #43B02A !important;
  background-color: white !important;
}
div.quizeditor ul li.ui-state-hover a {
  font-weight: bold;
  background-color: #f2f2f2;
}
div.quizeditor ul li.ui-tabs-active.ui-state-active a {
  color: white !important;
  background-color: #43B02A !important;
  font-weight: bold !important;
}
div.quizeditor #quiz_tabs.ui-widget-content {
  background: #f2f2f2;
  border: none;
  padding: 0;
}
div.quizeditor #tab_description {
  padding: 0;
}
div.quizeditor #tab_universe,
div.quizeditor #tab_sentences,
div.quizeditor #tab_sentence_units,
div.quizeditor #tab_features {
  background-color: white;
  border: solid 1px #adadad;
  border-radius: 0;
}
footer {
  margin-top: auto;
}
div.footer {
  background-color: #002A3A;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
div.footer h2 {
  color: white;
  padding-bottom: 10px;
}
div.footer p {
  color: white;
  font-size: 15px;
}
div.footer a {
  color: #43B02A;
  font-size: 15px;
  font-weight: bold;
}
div.footer a.social {
  padding-left: 10px;
}
div.footer.footer-column {
  padding-left: 10%;
  padding-right: 1%;
  padding-top: 40px;
  padding-bottom: 25px;
}
div.footer.footer-bottom {
  float: left;
  width: 100%;
  height: 100px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25px;
}
img.graphic-element {
  width: 100%;
  min-width: 10%;
}
footer .row {
  padding: 0 !important;
  margin: 0 !important;
}
.logointro {
  padding: 0 4vw 4vw 4vw !important;
}
.logopanel {
  padding: 2vw 4vw !important;
}
.logointro,
.logopanel {
  background-color: white;
  margin: auto;
}
.logointro .col-md-3,
.logopanel .col-md-3 {
  padding: 2vw;
  width: 50;
}
.logointro h2,
.logopanel h2 {
  margin: auto;
}
.level0 {
  padding-left: 20px;
  text-indent: -20px;
}
.level1 {
  padding-left: 45px;
  text-indent: -20px;
}
.level2 {
  padding-left: 70px;
  text-indent: -20px;
}
.level0:before,
.level1:before,
.level2:before {
  content: "\2022\00a0";
}
.help.hebrew {
  font-family: Ezra SIL Webfont;
  direction: rtl;
}
.help.hebrew_translit {
  font-family: Doulos SIL Webfont;
}
.tooltip-inner {
  text-align: left;
}
.shortcuts {
  margin-left: 25%;
}
